<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Классификатор новостей</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <header>
            <h2><a href="/">Добро пожаловать!</a></h2>
            <ul>
                <li>
                    <a href="/classifier">Узнать категорию новости</a>
                </li>
                <li>
                    <a href="/articles">Просмотреть статьи</a>
                </li>
            </ul>
        </header>
        <div>
            <h1>Вы ввели пустой текст :(</h1>
            <h5>Пожалуйста, <a href="/classifier">вернитесь к классификатору</a> и введите текст заново</h5>
        </div>
    </body>
</html>